<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src='/socket.io.js'></script>
  <title>qrcode</title>
</head>
<body>
  <img src="<%- imgurl %>" alt="">

  <script>
    var socket = io('ws://localhost:8081');

    socket.on('getMsg', data => {
      console.log('服务端消息：',  data);
    })
  </script>
</body>
</html>